<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="description" itemprop="description" content="个人学习HTML、CSS、JavaScript主页">
  <meta name="keywords" content="青春永不落幕,技术文档,软件收集">
  <meta itemprop="name" content="青春永不落幕">
  <meta itemprop="image" content="https://qcyblm.gitee.io/vuepress/favicon.ico, https://qcyblm.github.io/vuepress/favicon.ico" />
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <meta http-equiv="refresh" content="5">
  <script src="https://unpkg.com/vue@next" type="text/javascript"></script>
  <script src="./js/main.js" type="module"></script>
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="icon" href="/vuepress/favicon.ico">
  <title>青春永不落幕</title>
</head>

<body>
  <div id=app>
    <header>
      <img :src="item.logo" alt="">
      <h1>
        {{ item.title }}
      </h1>
      <p>
        {{ item.text }}
      </p>
    </header>
    <nav>
      <ul>
        <li v-for="item in item.navbar"><a :href="item.link" :target="item.target">{{ item.text }}</a></li>
      </ul>
    </nav>
    <main>
      <img style="margin-right: 30px" src="https://github-readme-stats.vercel.app/api?username=qcyblm&show_icons=true" alt="Anurag's GitHub stats">
      <img src="https://github-readme-stats.vercel.app/api/top-langs/?username=qcyblm&layout=compact" alt="Top Langs">
      <section v-for="item in item.label">
        <h3> {{ item.title }} </h3>
        <ul class="advantage">
          <li v-for="item in item.children">
            <a :href="item.link" target="_blank" :title="item.title" rel="noopener noreferrer">{{ item.text }}</a>
          </li>
        </ul>
      </section>
    </main>
    <footer>
      <p v-html="item.footer"></p>
    </footer>
  </div>
</body>

</html>